<div data-th-fragment="contact_modal_fragment">


    <!-- Modal toggle -->
    <!-- <button data-modal-target="view_contact_modal" data-modal-toggle="view_contact_modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Toggle modal
  </button> -->

    <!-- Main modal -->
    <div id="view_contact_modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700 mt-16">

                <!-- Modal header -->
                <div
                    class="flex items-center justify-between px-4 py-1 md:px-5 md:py-1 border-b rounded-t dark:border-gray-600 border-gray-200">
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="view_contact_modal" onclick="closeContactModal()">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <div class="text-center">
                        <img id="contact_pic" class="rounded-full w-36 h-36 m-auto outline outline-offset-4 outline-1">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white mt-2" id="contact_name"></h3>
                        <p id="contact_email" class="text-sm text-gray-500 dark:text-gray-400"></p>
                    </div>

                    <!-- contact info -->
                    <div class="relative overflow-x-auto">
                        <table class="w-full m-auto text-sm text-gray-500 dark:text-gray-400">
                            <tbody>
                                <!-- phone number -->
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-phone"></i> <span>Phone Number</span>
                                    </th>
                                    <td class="px-6 py-4" id="contact_phoneNumber"></td>
                                </tr>

                                <!-- address -->
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-location-dot"></i> <span>Address</span>
                                    </th>
                                    <td class="px-6 py-4" id="contact_address"></td>
                                </tr>

                                <!-- description -->
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-circle-info"></i> <span>Description</span>
                                    </th>
                                    <td class="px-6 py-4" id="contact_desc"></td>
                                </tr>

                                <!-- Favorite -->
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-heart"></i> <span>Favorite</span>
                                    </th>
                                    <td class="px-6 py-4" id="contact_fav"></td>
                                </tr>

                                <!-- website link -->
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-globe"></i> <span>Website</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        <a id="contact_web_link" target="_blank"></a>
                                    </td>
                                </tr>

                                <!-- linkedin link -->
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-brands fa-linkedin"></i> <span>Linkedin</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        <a id="contact_linkedin" target="_blank"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal footer -->
                <div
                    class="flex items-center justify-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button data-modal-hide="view_contact_modal" onclick="closeContactModal()" type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>